# phoenixd service
# /etc/systemd/system/phoenixd.service

[Unit]
Description=phoenixd
Wants=www.service docker_images.service
After=www.service docker_images.service

[Service]
WorkingDirectory=/opt/mynode/phoenixd

# Check if phoenixd is installed and installation is not in error state 
#
ExecStartPre=/bin/bash -c '[ -f /home/bitcoin/.mynode/phoenixd_version ] || exit 1'
ExecStartPre=/bin/bash -c '[ "$(cat /home/bitcoin/.mynode/phoenixd_version 2>/dev/null)" != "error" ] || exit 1'

ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/bin/bash -c 'if [ -f /usr/bin/service_scripts/pre_phoenixd.sh ]; then /bin/bash /usr/bin/service_scripts/pre_phoenixd.sh; fi'
ExecStartPre=+/bin/bash -c 'if [ -f /usr/bin/service_scripts/pre_phoenixd_fix-UIDGRP.sh ]; then /bin/bash /usr/bin/service_scripts/pre_phoenixd_fix-UIDGRP.sh; fi'

# docker
ExecStart=/bin/sh -c 'docker run --rm --name phoenixd \
    --publish 9740:9740 \
    --volume /mnt/hdd/mynode/phoenixd:/.phoenix \
    --env PHOENIX_DATADIR='/.phoenix' \
    --env WORK_DIR='/phoenix' \
# --user doesn't change docker id accessing disk :-(
#    --user $(id -u bitcoin):$(id -g bitcoin) \
    phoenixd'

ExecStartPost=/bin/bash -c 'if [ -f /usr/bin/service_scripts/post_phoenixd.sh ]; then /bin/bash /usr/bin/service_scripts/post_phoenixd.sh; fi'

#
#ExecStop=FILL_IN_EXECSTOP_AND_UNCOMMENT_IF_NEEDED
#
ExecStop=/bin/bash -c 'docker ps -q -f name=phoenixd && docker stop phoenixd || true'


User=bitcoin
Group=bitcoin
Type=simple
TimeoutSec=120
Restart=always
RestartSec=60
#StandardOutput=syslog
#StandardError=syslog
SyslogIdentifier=phoenixd

[Install]
WantedBy=multi-user.target